<div class = "login-container">
    <h1>Iniciar Sesión</h1>
    <h2>Bienvenido de nuevo</h2>
    <p class="title">Inicia sesión con tu cuenta existente</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-group">
            <mat-form-field appearance="outline" class="form-input" floatLabel="always">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Introduce el correo">
                @if(controlHasError ('email', 'required')) {
                    <mat-error>El correo es obligatorio</mat-error>
                }
                @if(controlHasError ('email', 'email')) {
                    <mat-error>El correo debe ser válido</mat-error>
                }
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field appearance="outline" class="form-input" floatLabel="always">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" placeholder="Introduce tu contraseña">
                @if(controlHasError ('password', 'required')) {
                    <mat-error>La contraseña es obligatoria</mat-error>
                }
                @if(controlHasError ('password', 'minlength')) {
                    <mat-error>La contraseña debe tener al menos 6 caracteres</mat-error>
                }
            </mat-form-field>
        </div>

        <button type = "submit">Iniciar Sesión</button>
    </form>

    <p>¿No tienes una cuenta? <a routerLink="/auth/register">Regístrate</a></p>
</div>