<div class="login-container">
    <div class="login-card">
        <div class="login-form">
            <h2 class="title">Iniciar Sesión</h2>
            <p class="subtitle">Inicia sesión con tu cuenta existente</p>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
                <!-- Campo Email -->
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" placeholder="Introduce el correo">
                    @if(controlHasError('email', 'required')) {
                        <mat-error>El correo es obligatorio</mat-error>
                    }
                    @if(controlHasError('email', 'email')) {
                        <mat-error>El correo debe ser válido</mat-error>
                    }
                </mat-form-field>

                <!-- Campo Contraseña -->
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" type="password" placeholder="Introduce tu contraseña">
                    @if(controlHasError('password', 'required')) {
                        <mat-error>La contraseña es obligatoria</mat-error>
                    }
                    @if(controlHasError('password', 'minlength')) {
                        <mat-error>La contraseña debe tener al menos 6 caracteres</mat-error>
                    }
                </mat-form-field>

                <button type="submit" class="submit-button" [disabled]="loginForm.invalid">Iniciar Sesión</button>
            </form>

            <p class="register-text">¿No tienes cuenta? <a routerLink="/auth/register">Regístrate aquí</a></p>
        </div>
    </div>
</div>
