.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    z-index: 1000;
  }
  
  .notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
  }
  
  .notification.success { 
    background: rgb(175, 209, 175); 
    border-radius: 12px;
    border-color: rgb(73, 173, 73);
    border-style: solid;
    }
  
  .close-btn {
    background: none;
    border: none;
    color: rgb(73, 173, 73);
    font-size: 12px;
    cursor: pointer;
  }
  